{>"shared/templates/layout"/}
{<content}
    <div class="row">
        <div class="well">
            <h3>Contexts and Context Helpers</h3>
            <h4>Reference: <a href="http://www.dustjs.com/guides/contexts/" target="_blank">http://www.dustjs.com/guides/contexts/</a></h4>
            <h4>Data:</h4>
            <h4><a href="http://api.brewerydb.com/v2/brewery/nHLlnK/?key=4c3f3ffc1faec2b70aaf94fc708fb71e" target="_blank">http://api.brewerydb.com/v2/brewery/nHLlnK</a></h4>
            <h4><a href="http://api.brewerydb.com/v2/brewery/nHLlnK/beers?key=4c3f3ffc1faec2b70aaf94fc708fb71e" target="_blank">http://api.brewerydb.com/v2/brewery/nHLlnK/beers</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 1: Display brewery name</h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 1 -->

            <!-- end of step 1 -->
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 2: Display a count of brewery beers</h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 2 -->

            <!-- end of step 2 -->
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 3: Display a list of brewery beers (ec: don't show if no label icon)</h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 2 -->

            <!-- end of step 2 -->
        </div>
    </div>
{/content}
