{>"shared/templates/layout"/}
{<content}
    <div class="row">
        <div class="well">
            <h3>Dust Helpers</h3>
            <h4>Reference: <a href="http://www.dustjs.com/guides/dust-helpers/" target="_blank">http://www.dustjs.com/guides/dust-helpers/</a></h4>
            <h4>Data:</h4>
            <h4><a href="http://api.brewerydb.com/v2/brewery/nHLlnK/?key=4c3f3ffc1faec2b70aaf94fc708fb71e" target="_blank">http://api.brewerydb.com/v2/brewery/nHLlnK</a></h4>
            <h4><a href="http://api.brewerydb.com/v2/brewery/nHLlnK/beers?key=4c3f3ffc1faec2b70aaf94fc708fb71e" target="_blank">http://api.brewerydb.com/v2/brewery/nHLlnK/beers</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 1: Display only organic beers</h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 1 -->
            {!{#beers}!}
                {!{@eq key=isOrganic value="Y"}!}
                    {!<strong>{name}</strong> is organic (isOrganic = "{isOrganic}")!}
                {!{/eq}!}
            {!{/beers}!}
            <!-- end of step 1 -->
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 2: List all beers, highlight if glasswareId = 5 (Pint) </h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 1 -->
            <ul class="list-group">
                {!{#beers}!}
                    {!<li class="list-group-item {@eq key=glasswareId value=5}list-group-item-info{/eq}">!}
                        {!<div class="media">!}
                            {!{?labels.icon}!}
                                {!<div class="media-left">!}
                                    {!<a href="#">!}
                                        {!<img class="media-object" src="{labels.icon}" alt="...">!}
                                    {!</a>!}
                                {!</div>!}
                            {!{/labels.icon}!}
                            {!<div class="media-body">!}
                                {!<h4 class="media-heading">{name}</h4>!}
                                {!<h5><strong>abv:</strong>{abv}</h5>!}
                                {!{description}!}
                            {!</div>!}
                        {!</div>!}
                    {!</li>!}
                {!{/beers}!}
            </ul>
            <!-- end of step 1 -->
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h4>Step 3: List all beers, limit to beers with abv greater than 8</h4>
        </div>
        <div class="col-sm-12">
            <!-- start of step 1 -->
            <ul class="list-group">
                {#beers}
                    {@gt key=abv value=8 type=number}
                    <li class="list-group-item">
                        <div class="media">
                            {?labels.icon}
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{labels.icon}" alt="...">
                                    </a>
                                </div>
                            {/labels.icon}
                            <div class="media-body">
                                <h4 class="media-heading">{name}</h4>
                                <h5><strong>abv:</strong>{abv}</h5>
                                {description}
                            </div>
                        </div>
                    </li>
                    {/gt}
                {/beers}
            </ul>
            <!-- end of step 1 -->
        </div>
    </div>
{/content}
